body {
  margin: 0
}

h1,
h2 {
  margin: 0
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.section>.sticky {
  position: sticky;
  top: 0;
}

.section>h2 {
  line-height: 2;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgb(160, 160, 160);
  color: red
}

.section>p {
  font-size: 23px
}

.section>p.placeholder {
  height: 1000px;
  background: #ccc;
}